:root {
 
  --bg-color: #f1f5f9;         
  --card-bg: #ffffff;          
  --accent-light: #e0f2fe;      
  --accent-blue: #0284c7;      
  --text-primary: #0f172a;      
  --text-muted: #334155;        
  --border-subtle: #cbd5e1; 

  --radius-sm: 8px;
  --radius-md: 16px;
  --radius-lg: 24px;
}

[data-theme='dark'] {
  --bg-color: #0b1428;    
  --card-bg: #0a1221;     
  --accent-color: #6b79ad;; 
  --text-primary: #d0c7c7; 
  --text-secondary: #94a3b8; 
  --shadow-color: rgba(0, 0, 0, 0.6); 
  --btn-bg: #6b79ad;      
  --border-color: rgba(221, 182, 182, 0.1);
  --btn-bg-hover: #6b79ad;  
  --btn-text: #ffffff;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--text-primary);
  background-color: var(--bg-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;

}

.btn {
  border: none;
  font-family: "Elms Sans", sans-serif;
  font-size: 16px;
}

 .btn:hover {
  cursor: pointer;
  opacity: 0.5;
 }
